@import url(global_styles.css);

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 15px;
    position: relative;
}

.image-desktop-top, .image-desktop-bottom {
    display: none;
}

.image-mobile-top, .image-mobile-bottom {
    width: 100%;
    position: absolute;
    z-index: -100;
}

.image-mobile-top {
    justify-self: flex-start;
    top: 0;
    left: 0;
}

.image-mobile-bottom {
    justify-self: flex-end;
    bottom: 0;
    left: 0;
}

.content-iformation {
    text-align: center;
}

.information-title {
    color: var(--very-dark);
    padding: 0 20px;
}

.information-parrafe {
    color: var(--dark-rayish);
    line-height: 25px;
    padding-top: 20px;
}

.rankings {
    width: 100%;
    padding-top: 30px;
}

.ranking {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: var(--light-Grayish);
    margin: auto;
    margin-top: 20px;
}

.ranking-stars img {
    margin-right: 5px;
}

.ranking-text {
    color: var(--very-dark);
    font-weight: 700;
    padding-top: 10px;
}

.cards {
    width: 100%;
    padding-top: 50px
}

.card {
    width: 100%;
    padding: 30px;
    background: var(--very-dark);
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-header-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 20px;
}

.card-header-text-name {
    color: #fff;
    font-weight: 500;
}

.card-header-text-verification {
    color: var(--soft-pink);
    margin-top: 5px;
}

.card-body {
    margin-top: 20px;
}

.card-body-text {
    color: #fff;
    line-height: 25px;
}

/* Responsive Design */
@media screen and (min-width: 768px) {
    
    .container {
        padding: 100px;
    }
    
}

@media screen and (min-width: 1024px) {
    
    .container {
        padding: 60px;
    }

    .image-mobile-top, .image-mobile-bottom {
        display: none;
    }
    
    .image-desktop-top, .image-desktop-bottom {
        display: block;
        position: absolute;
        z-index: -100;
    }
    
    .image-desktop-top {
        width: 50%;
        top: -50px;
        left: 0;
        justify-self: flex-start;
    }
    
    .image-desktop-bottom {
        width: 100%;
        bottom: -50px;
        right: -250px;
        justify-self: flex-end;
    }
    
    .content-iformation {
        display: flex;
        align-items: center;
        text-align: left;
    }

    .content-iformation .information {
        padding: 50px;
    }

    .information-title {
        padding: 0;
        font-size: 50px;
    }

    .information-parrafe {
        color: var(--very-dark);
    }

    .rankings {
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }

    .ranking {
        width: 80%;
        display: flex;
        position: relative;
    }

    .ranking-text {
        padding: 0;
        margin-left: 20px;
    }

    .ranking:nth-child(1) {
        left: -50px;
    }

    .ranking:nth-child(3) {
        right: -50px;
    }

    .cards {
        width: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-body {
        padding-top: 20px;
    }
    
    .card {
        width: 380px;
        padding: 40px;
        margin-top: 0;
        position: relative;
    }

    .card:nth-child(1) {
        top: -20px;
    }

    .card:nth-child(3) {
        bottom: -20px;
    }

}